<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <script type="module">
      import { createApp } from "https://unpkg.com/petite-vue?module"
      createApp({
        animalsHTML: "",
        get animals() {
          // /animals should return html representing a list of animals
          fetch("/animals")
            .then((resp) => {
              resp.text().then((html) => {
                this.animalsHTML = html
                console.log({ html })
              })
            })
            .catch((err) => {
              console.log("failed to get animals:", err)
            })
        },
      }).mount()
    </script>
    <title>Playground</title>
  </head>
  <body>
    <h1>Animals</h1>
    <div v-scope v-html="animalsHTML">
      <!-- this ul will be retrieved from a db and rendered on first load -->
      <ul>
        <li>Four</li>
        <li>Hush</li>
        <li>Speck</li>
      </ul>
    </div>
  </body>
</html>
